body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #3d0191;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    background:#fff;
    box-shadow: 2px 2px 2px #292929;
    min-width:350px;
    width: 50vw;
    min-height: 300px;
    max-height: 600px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

button{
    height: 50px;
    background-color: #0446c0;
    border:none;
    color: #fff;
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #5a5a5a;
}

button:focus{
    border: none;
    outline: none;
}

button:active{
    box-shadow: 2px 2px 12px #3b3b3b;
}


#add {
    height: 56px;
    text-decoration: none;
    width: 116px;
    align-self: flex-end;
}

form{
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin:40px;
    row-gap: 20px;
}

input[type="text"]{
    height: 50px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
}
